* {
    box-sizing: border-box;
    outline: none;
}

fieldset {
    border: none;
}

body {
    margin: 0 auto;
    background-color: #dddfe0;
    color: #ffffff;
    padding: 0;
    font-family: "PT Serif";
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cfix::after {
    content: '';
    display: block;
    clear: both;
}

a, span, p, h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif";
    color: #282828;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.containerInner {
    width: calc(100% - 360px);
    float: right;
    padding: 0 15px;
}

.containerOuter {
    max-width: 1560px;
    margin: 0 auto;
}

.navMenu a {
    text-transform: uppercase;
}

/*Navigation Left*/
.leftNavWrapper {
    float: left;
    height: 100vh;
    background-color: #cccccc;
    width: 360px;
    position: fixed;
}

.logo {
    height: 152px;
    background: url("../img/png/logo.png") center 27px no-repeat;
    position: relative;
}

.logo:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    border-bottom: 1px solid black;
}

.leftNavList {
    height: 715px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.leftNavList:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    border-bottom: 1px solid black;
}

.leftNavList li {
    height: 11.11%;
    display: flex;
    align-items: center;
    width: 100%;

}

.leftNavList li a {
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    width: 100%;
    padding-left: 50px;
    position: relative;
}

.leftNavList li:hover {
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -ms-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
    transform: scaleX(1.05);

}

.leftNavList li a:hover, .leftNavList .ui-tabs-active a {
    background-color: #39464a;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.leftNavList li a:hover:after {
    position: absolute;
    content: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAPCAQAAACYNP27AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiCREWBwVVbf8oAAAAnUlEQVQY02NsYKgXZdjCkN94ggEJMP7nYDjNoMPwicGt8SRCmJnxjwM/gwsDO0OYw/6DT2HCTAwMjR0MlQwMDHwMu+rNkYSxSTBBKHQJJpg2VAnGBiRn1W9g8GdgYHjBoMyEJJjJ4M/AwPCdIbrxGxOS4DQGBobvDD6N++BmowpChdEFGRiYsAlCwuQygwqqICRM1jPYMyQiCzIwAAAfwzgDLlePVwAAAABJRU5ErkJggg==");
    right: 20px;
    top: 0;
}

/* Navigation Header*/
header {
    background-color: #c2c8ca;
}

.navMenu {
    float: left;
    width: calc(100% - 210px);
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.navMenu a {
    padding: 23px 50px 28px;

}

.navMenu li:hover a {
    background-color: #39464a;
    color: #ffffff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.socials {
    width: 200px;
    display: flex;
    float: right;
    margin-top: 17px;
    padding: 0 27px;
    justify-content: space-between;
}

.socials span {
    font-size: 23px;
}

.socials li:hover {
    opacity: 0.5;
}

/* content */
.content {
    margin-top: 20px;
    min-height: calc(100vh - 153px);
}

/*  content  */
.banner {
    height: 1116px;
}
.banner img{
    width: 100%;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;


}

.catalog {
    margin-bottom: 40px;
}

.main {
    margin-bottom: 30px;
}

.card {
    height: 640px;
    overflow: hidden;
    width: 31.5%;
    margin-bottom: 30px;
    min-width: 300px;
}

.card:hover .cardInfo {
    background-color: #39464a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover .cardInfo span {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card img {
    display: block;
    max-height: 555px;
}

.cardInfo {
    height: 87px;
    background-color: #c2c8ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardInfo > span {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
    font-size: 24px;
}

.articlesNav {
    width: 115px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.articlesNav li {
    display: inline-block;
    cursor: pointer;
}

.articlesNav a {
    color: #1e1e1e;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Serif";
}

.articlesNav li + li {
    margin-left: 8px;
}

.articlesNav .ui-tabs-active a {
    font-size: 48px !important;
    color: #39464a !important;
}

/*  footer  */

.footerInner {
    max-width: 500px;
    background-color: #c2c8ca;
    float: right;
}

.footerLogo {
    min-height: 75px;
    width: 40%;
    background: #39464a url("../img/png/logofooter.png")center no-repeat;
    float: right;
}

.copyright {
    float: left;
    width:60%;
    text-align: right;
    padding: 15px 15px 0 0;
}

.copyright span, .copyright a {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}

.createdBy {
    font-weight: 700;
}

/* Card More */
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cardLeftWrapper {
    width: 51%;
}

.cardRight {
    width: 45%;
}

.cardLeftWrapper img {
    width: 100%;
}

.cardSizes {
    display: flex;
    flex-direction: column;
    height: 69px;
    position: relative;
}

.cardSizes span {
    text-transform: uppercase;
    line-height: 20px;
}

.cardSizes span + span {
    margin-top: 7px;
}

.cardSizes:after, .cardAbout:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 52%;
    bottom: 0;
    border-bottom: 1px solid black;
}

.cardAbout {
    padding: 18px 0;
    position: relative;
}

.cardAbout p {
    line-height: 24px;
}

.sizesLength {
    display: flex;
    flex-direction: column;
    padding: 15px 0 42px;

}

.sizesLength span {
    font-size: 20px;
    line-height: 24px;
}

.colorsWrap .bold {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
}

.cardRightGallery {
    max-height: 525px;
    display: flex;
}

.cardBackWrapper {
    float: left;
    width: 350px;
}

.cardBackWrapper img {
    width: 100%;
    display: block;
}

.colorsWrap {
    width: 100px;
    float: left;
    margin-left: 20px;
    height: 100%;
}

.cardColors img {
    width: 100%;
    display: block;
}

.cardColors {
    margin-top: 15px;
}

.cardColors div + div {
    margin-top: 10px;
}

/* About */

.about {
    padding-bottom: 13px;
}

.aboutImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.aboutImages div {
    width: 32%;
    overflow: hidden;
    min-width: 300px;
    height: 564px;
}

.aboutImages img {
    height: 100%;
}

.aboutText {
    margin-top: 13px;
}

.aboutText p {
    line-height: 30px;
}

.aboutText p + p {
    margin-top: 29px;
}


/* Cooperation */
.cooperationInner {
    position: relative;

}

.cooperationInner p {
    margin-top: 30px;
    line-height: 30px;
    font-weight: 700;
}

.cooperationInner h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #333333;
    padding-top: 10px;
}

.cooperationInner img {
    position: absolute;
    content: '';
    right: 0;
    top: 10px;
}
.trigger{
    text-align: center;
    height: 40px;
    display: none;
    background: url("../img/png/burger.png") center no-repeat;
}

.burger{
    display: none;
}


 /*Media Queries*/
@media (max-width: 466px) {
.cardRightGallery{
    width: 100vw;
}
    .cardBackWrapper{
        width: 60vw;
    }
    .colorsWrap{
        width: 21.2vw;
    }
    .colorsWrap span{
        display: none;
    }
    .cardColors{
        margin-top: 0;
    }

}
@media (min-width: 320px)and (max-width: 1199px) {
    .leftNavWrapper {
        width: 320px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 2;
    }
    .cardLeftWrapper{
        display: none;
    }
    .cardRight{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .leftNavList{
        height: calc(100vh - 152px);
    }
    .leftNavWrapper {
        left: -320px;
    }
    .leftNavWrapper.show{
        left: -30px;
    }
    .trigger{
        display: block;
    }
    .socials {
        display: none;
    }
    .burger{
        height: 40px;
        width: 20px;
        display: block;
        position: absolute;
        top: calc(50% - 20px);
        right: -23px;
        background: url("../img/png/icons8-toolbar-16.png") center no-repeat;
        background-size: contain;
    }
    .containerInner {
        width: 100%;
    }

    .navMenu a {
        padding: 22px 5px 28px;
    }

    a, span, p, h1, h2, h3, h4, h5, h6 {
        font-size: 14px;
    }

    .navMenu {
        display: none;
        height: auto;
        width: 100%;

    }

    .navMenu li {
        text-align: center;
        display: block;
    }

    .navMenu a {
        padding: 10px 0;
        display: block;
    }

    .grid {
        justify-content: space-evenly;
    }

    .navMenu li:hover {
        background-color: #39464a;
        color: #ffffff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .aboutImages{
        display: none;
    }
    .cooperationInner img{
        display: none;
    }
}

@media (min-width: 1200px)  and (max-width: 1500px){
    .navMenu a {
        padding: 23px 5px 28px;
    }



}
